@import url('https://fonts.googleapis.com/css2?family=Geo&family=Roboto+Mono&display=swap');

/* CSS Reset below- normalized settings to give
more control of the elements to the developer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

    #hidden {
        visibility: hidden ;}

        .finalPagina {
            display: flex;
            justify-content: space-between;
            
            
            
            background-color: #333333;
            }
            
            .finalPagina p {
            
                color: whitesmoke;
                /* background-color: grey; */
                justify-content: space-around;
                align-items: flex-start;
            }
            
            .finalPagina img {
                width: 10%;
                height: 50%;
            }
            
            .parteRedes {
                display: flex;
            }
            
            .finalPagina button {
                color: goldenrod;
                background-color: #161D4B;
            }
            