<footer>
    <div class=" finalPagina ">
        <div class="parteRedes">
            <p>Siga-nos nas Redes Sociais:</p>
            <p id="hidden">d</p>
            <img src="/assets/img/Facebook-Instagram.jpg" alt="Redes Sociais">
            
        </div>
        <form action="#">
            <input id="campo-email" type="email"   placeholder="E-mail" required >
            
            <button onclick="cadastrarNovoEmail()">Cadastrar</button>
        </form>
        
<p id="hidden">dottt</p>

<p>Todos os direitos reservados para Gamemania</p>

</div>
</footer>
