

    <main>  
        <section id="carrosel" class="banner">
<div class="container position-banner">

        <div class="conteudo-banner">
            <div class="espacamento-banner">

                <h1>Receba nossas novidades</h1>
                <a routerLink="/login">Quero me inscrever</a>
            </div>
        </div>

</div>
            


<section class="#">
    <div id="bcMain">

        <!-- 1° DIV -->
        
        <div class="container colunas-frases">
            
            
            <p>
                Para as Mulheres Gamer
            </p>
            
            <p>
                PS5 e Muito Mais
            </p>
            
            <p>
                PC e Peças
            </p>
        </div>    
    
        
        
        <!-- 2°DIV -->
        
        <div class="container box colunas-imagens">
            
            <img src="/assets/img/girl gamer.jpg" alt="Garota jogando">
            <p id="hidden">dottt</p>
            <img src="/assets/img/ps5.jpg" alt="PlayStation 5">
            <p id="hidden">dottt</p>
            <img src="/assets/img/pc peace.jpg" alt="Peças de Computador">
        </div>
        
        <div class="container colunas-frases">
            <h3>Visto por último</h3>
            
        </div>
<!-- this is a test -->
        <div class="container box colunas-imagens">
            
            <img src="/assets/img/teclado.webp" alt="Teclado">
            <img src="/assets/img/mic.jpg" alt="Microfone">
            <img src="/assets/img/controle.jpg" alt="">
            
        </div>
        
    </div>

    
<!-- </section> -->

<!-- </main> -->

<app-footer></app-footer>
    