<header>

    <div class="container spacebetween "> 
        
            <a href="index.html"><img class="logo" src="/assets/img/icons8-gamer-64.png" alt="Logo site GameMania"></a>
            
            <a href="index.html"></a> 
                    
                <!-- <h3 id="titulo">MANIA</h3> </a>  -->
                <nav id="menu" class="menu ">
                        <h3 id="titulo">GAMEMANIA</h3>  
                        <p>SEARCH BAR</p>
                        <a href="https://www.youtube.com/">Sobre a empresa</a>
                        <a href="references.html">Ver todos os produtos</a>

                        <a href="#" *ngIf="name">{{name}}</a>
                        <a routerLink="/login" *ngIf="!name"  >Meu perfil</a>

                    </nav>
<!-- AQUI SERÁ INSERIDO O MENU DE HAMBURGUER COM SUAS FINALIDADES -->
                        <!-- <a href="#" id="bars" onclick="mostrarMenu()"><img src="/assets/img/icons8-menu.svg" alt="Ícone Hambúrguer"></a> -->
                        <a href="#" id="bars" ><img src="/assets/img/icons8-menu.svg" alt="Ícone Hambúrguer"></a>

                    </div>
        
 


  <a href=""></a>
</header>
